body {
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
}
.container {
    width: 1728px;
    height: 7395px;
    opacity: 1;

    position: relative;
    overflow: hidden;
    background-color: #FCFCFC;
}
.background img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;/* dat lam anh nen */
}
.overlay {
    position: absolute;
    top: 29px;
    left: 104px;
    bottom:1008px;
    right:103px;
    width: 1521px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
}
.logo{
    position:absolute;
    top: 29px;
    left: 104px;
    margin-right: 447px;
    justify-items: center;
    
}
.logo img {
    width: 97px;
    height: 80px;
    
}

.menu {
    display: flex;
    gap: 72px;
    justify-content: center;
    margin-left: 447.5px;
    width: 432px;
    height: 29px;
}

.menu a {
    font-family: "Urbanist";
    font-weight: 800;
    font-style: "ExtraBold";
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;

}
.main-text-layout{
    position: absolute;
    top:367px;
    left:258px;

    width: 1212px;
    height: 192px;
    top: 367px;
    left: 258px;

}
.main-text{
    font-family: "Urbanist";
    font-weight: 800;
    font-style: "ExtraBold";
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;

}   
.container-sponsor{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:102px;
    width: 1520px;
    height: 162px;
    left: 104px;
    gap: 32px;
    opacity: 1;

}
.text-sponsor{
    width: 283px;
    height: 38px;
    opacity: 1;
    font-family: "Urbanist";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #404040;
}
.logos-sponsor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 92px;
    opacity: 1;
    gap: 37px;
    flex-wrap: wrap;
    
    
}
.logo-sponsor img {
  max-width: 175px;
  height: auto;
}

